<div class="container-xl">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>   
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-sm-4" *ngFor="let item of images">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img [src]="item" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Tournament Name</h4>
									<p>Category</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>						
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-sm-4" *ngFor="let item of images">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img [src]="item" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>London</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam.</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>						
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
          <div class="row">
						<div class="col-sm-4" *ngFor="let item of images">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img [src]="item" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Tournament Name</h4>
									<p>Category</p>
									<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
								</div>						
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>